.book-showing {
    align-items: center;
    display: flex;
    gap: 155px;
    justify-content: center;
    margin: 201px 0 245px 0;
}

.blacksad-book {
    display: flex;
    justify-content: center;
}

.blacksad-book img {
    max-width: 386px;
}