h2 {
    color: #ffffff;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}

.description p {
    font-family: 'Overpass';
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.54px;
}

.pisa-tower {
    font-style: italic;
}