.last-step {
    display: flex;
}

.smirnov img {
    transform: rotate(-2deg);
    width: 503px;
}

.rat img {
    width: 257px;
}

.bear img {
    width: 360px;
}

.lizard img {
    transform: scaleX(-1);
    width: 674px;
}

.bartender img {
    transform: rotate(2deg);
    width: 459px;
}