.story-button {
    border: 1px solid #f8e632;
    border-radius: 4px;
    box-shadow: 0 0 15px #f8e632;
    color: #ffffff;
    font-family: 'Overpass';
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.72px;
    margin: 0 78px;
    padding: 11px 21px;
    text-align: center;
}

.story-button:hover {
    background-color: #f8e632;
    color: #000000;
}