@font-face {
  font-family: "orange_typewriterregular";
  src: url("orange_typewriter-webfont.woff2") format("woff2"),
    url("orange_typewriter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}